In [2]:
import pandas as pd
import datetime
import vk_api
import os
import requests
import json
import random

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import sys

In [3]:
token = 'vk1.a.F8Z1X--k-75bcoLEBqmBAAlpCWq3VbtXgkyJ7WLjuqkaPfcGBkAb0afNg35fVUsDk2Cf1VxGyqQmXiWwLhnUeTjXYnngqv0Y4UkkWxE0cQXZZwHiDEpNNOnH4H_3GiO-XgCNlkNpnMjG58qN5G0MBv4U800Z6SL8MJRNIM-Qp315fcu2kpxVD-QErDgLTV6BHexGvRwWuTdqcnImo0r7lg'

In [8]:
vk_session = vk_api.VkApi(token=token)
vk = vk_session.get_api()

In [11]:
vk.messages.send(
    chat_id = 1,
    random_id = 1,
    message = 'Here we go again')

0

In [13]:
ads = pd.read_csv('C:/Users/79295/Desktop/GITHUB/Analytical-practice/datasets/ads_data.zip')

In [14]:
ads.head()

,date,time,event,platform,ad_id,client_union_id,campaign_union_id,ad_cost_type,ad_cost,has_video,target_audience_count
0,2019-04-01,2019-04-01 00:00:48,view,android,45061,34734,45061,CPM,200.6,0,1955269
1,2019-04-01,2019-04-01 00:00:48,view,web,121288,121288,121288,CPM,187.4,0,232011
2,2019-04-01,2019-04-01 00:01:03,view,android,102737,102535,102564,CPC,60.7,0,4410
3,2019-04-01,2019-04-01 00:01:03,view,android,107564,106914,107564,CPM,217.3,0,62711
4,2019-04-01,2019-04-01 00:01:09,view,android,4922,37,4400,CPC,60.1,0,1183501

In [15]:
# Напишем скрипт, который отправляет файл с информацией о ТОП-10 объявлениях по размеру CTR:

In [17]:
ad_data = ads.groupby(['ad_id','event'],as_index=False) \
    .agg({"client_union_id":"count"}) \
    .rename(columns={"client_union_id":"count"})

In [30]:
ad_data = ad_data.pivot(
    index = 'ad_id',
    columns = 'event',
    values = 'count',
).reset_index().fillna(0)

In [32]:
ad_data = ad_data.assign(ctr = ad_data.click / ad_data.view )

In [33]:
ad_data.head()

event  ad_id  click   view       ctr
0          2    1.0  101.0  0.009901
1          3    3.0  184.0  0.016304
2       1902    1.0   41.0  0.024390
3       2064    0.0   35.0  0.000000
4       2132    1.0   58.0  0.017241

In [37]:
top_10_ctr_data = ad_data[(ad_data.click > 20) & (ad_data.view > 100)].sort_values('ctr', ascending=False).head(10)

In [38]:
top_10_ctr_data

event   ad_id     click      view       ctr
787    112583  105767.0  351802.0  0.300644
621     46639      44.0     253.0  0.173913
838    114959      22.0     259.0  0.084942
132     20374      21.0     328.0  0.064024
114     18525      25.0     409.0  0.061125
18       6338      23.0     409.0  0.056235
377     38892     516.0    9323.0  0.055347
11       4369      27.0     584.0  0.046233
39      10794      22.0     526.0  0.041825
60      14617      22.0     596.0  0.036913

In [61]:
top_10_ctr = top_10_ctr_data.to_csv('C:/Users/79295/Desktop/GITHUB/Api-projects/bufer/top_10_ctr.scv',index=False)

In [40]:
# Подготовили файл для выгрузки:

In [62]:
path = 'C:/Users/79295/Desktop/GITHUB/Api-projects/bufer/top_10_ctr.scv'
file_name = 'top_10_ctr.scv'

path_to_file = path
upload_url = vk.docs.getMessagesUploadServer(peer_id=2000000001)["upload_url"]
file = {'file': (file_name, open(path_to_file, 'rb'))}

response = requests.post(upload_url, files=file)

json_data = json.loads(response.text)
json_data

{'file': '5353479|0|-1|237031|dbd3f50c07|scv|411|top_10_ctr.scv|7fa204d5e8e3b088267aec829dc8ceec|e436d8c70190c8a7d36070e5cd1472c7||||eyJkaXNrIjoxLCJwZWVyX3NlbmRlciI6Ii0yMTgzMzk2MDcifQ=='}

In [63]:
saved_file = vk.docs.save(file=json_data['file'], title=file_name)

In [64]:
saved_file

{'type': 'doc',
 'doc': {'id': 649951198,
  'owner_id': 5353479,
  'title': 'top_10_ctr.scv',
  'size': 411,
  'ext': 'scv',
  'date': 1674038045,
  'type': 4,
  'url': 'https://vk.com/doc5353479_649951198?hash=kI1oJ2gjKBbU4pMzMSLdF5XZDTMinyuUpy1GU1zLF8c&dl=FUZDCOBTGM4TMMBX:1674038045:zgfVJFjmNHFLQDbSkcavzVhz6rF1XT2nzmn5Z1C9ozD&api=1&no_preview=1'}}

In [65]:
attachment = 'doc{}_{}'.format(saved_file['doc']['owner_id'], saved_file['doc']['id'])

In [66]:
attachment

'doc5353479_649951198'

In [67]:
vk.messages.send(
    chat_id = 1,
    random_id = 2,
    message = 'Top-10 ctr ads',
    attachment = attachment)

0

In [68]:
path = 'C:/Users/79295/Desktop/GITHUB/Api-projects/bufer/photo.jpg'
file_name = 'photo.jpg'

path_to_file = path
upload_url = vk.docs.getMessagesUploadServer(peer_id=2000000001)["upload_url"]
file = {'file': (file_name, open(path_to_file, 'rb'))}

response = requests.post(upload_url, files=file)

json_data = json.loads(response.text)
json_data

{'file': '5353479|0|-1|235131|40b6813e57|jpg|93951|photo.jpg|dae32b29d29e28c15021b1350490da2a|82e793e4b9148535c5a6a76aaa072d77|m_40b6813e57||m:130x87,s:100x67,x:604x402,o:800x532|eyJkaXNrIjoxOCwicGVlcl9zZW5kZXIiOiItMjE4MzM5NjA3In0='}

In [70]:
saved_file = vk.docs.save(file=json_data['file'], title=file_name)

In [72]:
saved_file

{'type': 'doc',
 'doc': {'id': 649951868,
  'owner_id': 5353479,
  'title': 'photo.jpg',
  'size': 93951,
  'ext': 'jpg',
  'date': 1674038776,
  'type': 4,
  'url': 'https://vk.com/doc5353479_649951868?hash=ZerNVRDpcDOf8PnDDCev0MZBqjIqfABzQs6YTkv43O8&dl=FUZDCOBTGM4TMMBX:1674038776:fX032SowiG30CxcwP4QI8rt0QxUDlaBhPvjwcvsngdT&api=1&no_preview=1',
  'preview': {'photo': {'sizes': [{'src': 'https://sun9-50.userapi.com/c235131/u5353479/d18/-3/m_40b6813e57.jpg',
      'width': 130,
      'height': 87,
      'type': 'm'},
     {'src': 'https://sun9-1.userapi.com/c235131/u5353479/d18/-3/s_40b6813e57.jpg',
      'width': 100,
      'height': 67,
      'type': 's'},
     {'src': 'https://sun9-43.userapi.com/c235131/u5353479/d18/-3/x_40b6813e57.jpg',
      'width': 604,
      'height': 402,
      'type': 'x'},
     {'src': 'https://sun9-33.userapi.com/c235131/u5353479/d18/-3/y_40b6813e57.jpg',
      'width': 807,
      'height': 537,
      'type': 'y'},
     {'src': 'https://sun9-7.userapi.com/c235131/u5353479/d18/-3/o_40b6813e57.jpg',
      'width': 800,
      'height': 532,
      'type': 'o'}]}}}}

In [75]:
attachment_photo = 'doc{}_{}'.format(saved_file['doc']['owner_id'], saved_file['doc']['id'])

In [76]:
attachment_photo

'doc5353479_649951868'

In [77]:
vk.messages.send(
    chat_id = 1,
    random_id = 3,
    message = 'Happy soap day',
    attachment = attachment_photo)

0