In [1]:
import pandas as pd
import datetime
import os
import requests
import json
import random

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import sys

In [2]:
url = 'https://api-metrika.yandex.net/stat/v1/data?'
visits = 'metrics=ym:s:visits&dimensions=ym:s:date&id=44147844'

In [3]:
vistis_url = url + visits

In [4]:
vistis_request = requests.get(vistis_url)

In [5]:
vistis_request

In [6]:
json_data = json.loads(vistis_request.text)

In [8]:
json_data['data']

[{'dimensions': [{'name': '2023-01-12'}], 'metrics': [839.0]},
 {'dimensions': [{'name': '2023-01-16'}], 'metrics': [826.0]},
 {'dimensions': [{'name': '2023-01-17'}], 'metrics': [823.0]},
 {'dimensions': [{'name': '2023-01-13'}], 'metrics': [767.0]},
 {'dimensions': [{'name': '2023-01-15'}], 'metrics': [488.0]},
 {'dimensions': [{'name': '2023-01-14'}], 'metrics': [439.0]},
 {'dimensions': [{'name': '2023-01-18'}], 'metrics': [434.0]}]

In [9]:
y_df = pd.DataFrame([(i['dimensions'][0]['name'], 
  i['metrics'][0]) for i in json_data['data']], columns=['date', 
                                                        'visits'])

In [10]:
y_df

         date  visits
0  2023-01-12   839.0
1  2023-01-16   826.0
2  2023-01-17   823.0
3  2023-01-13   767.0
4  2023-01-15   488.0
5  2023-01-14   439.0
6  2023-01-18   434.0